html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  vertical-align: middle;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  text-align: left;
}

img {
  padding: 0.4em 0.75em;
  width: 100%;
  max-width: 25em;
  display:block;
}

p {
  display: inline-block;
}
